<?xml version="1.0"?>

<launch>
  <rosparam command="load" file="$(find robothon2022_tree)/config/exec_params.yaml"/>
  <rosparam command="load" file="$(find robothon2022_tree)/config/go_to_location_server.yaml"/>
  <node name="run_tree" type="run_tree.py" pkg="robothon2022_tree" />
</launch>
